# **Weather Analysis - Athenry**
___
## **Dataset Summary:** 
The dataset contains weather readings for Athenry, obtained from [Met Éireann's weather API](https://data.gov.ie/dataset/todays-weather-athenry). It includes the following: 

- **Time**: Time weather was recorded.
- **Report**: Description of the weather e.g. Cloudy, Light Drizzle, Light Rain, Fog. 
- **Temperature**: Measure in °C. 
- **Wind Speed & Gust**: Measured in km/h. 
- **Cardinal Wind Direction & Wind Direction**: Shown by N/S/E/W and °. 
- **Humidity**: Measured in g/kg
- **Rainfall**: Measured in mm/h.
- **Pressure**: Measure in hPa. 


___

In [1]:
# import necessary library 
import pandas as pd

In [2]:
# loading weather data file

df = pd.read_json('data/weather/20241110_130215.json')

In [3]:
# show
df.head()

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,13,04n,Cloudy,"""Cloudy""",9,-,S,180,94,0.00,1021,Sunday,2024-10-11,00:00
1,Athenry,13,04n,Cloudy,"""Cloudy""",11,-,S,180,94,0.00,1021,Sunday,2024-10-11,01:00
2,Athenry,13,46n,Light rain,"""Recent Drizzle """,9,-,SW,225,95,0.01,1021,Sunday,2024-10-11,02:00
3,Athenry,13,46n,Light rain,"""Recent Drizzle """,11,-,SW,225,96,0.30,1021,Sunday,2024-10-11,03:00
4,Athenry,13,04n,Cloudy,"""Cloudy""",11,-,SW,225,96,0.00,1022,Sunday,2024-10-11,04:00

In [4]:
# show 
df.describe()

,temperature,windSpeed,windDirection,humidity,rainfall,pressure,date
count,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13
mean,12.769231,8.615385,152.307692,96.153846,0.101538,1023.384615,2024-10-11 00:00:00
min,12.000000,6.000000,0.000000,94.000000,0.000000,1021.000000,2024-10-11 00:00:00
25%,13.000000,7.000000,0.000000,95.000000,0.000000,1021.000000,2024-10-11 00:00:00
50%,13.000000,9.000000,225.000000,96.000000,0.010000,1023.000000,2024-10-11 00:00:00
75%,13.000000,11.000000,225.000000,97.000000,0.200000,1025.000000,2024-10-11 00:00:00
max,13.000000,11.000000,270.000000,98.000000,0.400000,1027.000000,2024-10-11 00:00:00
std,0.438529,2.022311,107.966341,1.519109,0.134217,2.292686,NaN

___
## **Task Summary:** 
#### **Common Commands Used:**
- `cd` to change directories.
- `ls` to check files in a directory.
- ``git add .`` to stage all changes we made throughout each task.
- ``git commit - m "XXX"`` to create a commit with a message.
- `git push` to push the commit to the main branch on GitHub.
____

### **Task 1: Create Directory Structure**

- `mkdir data` 
- `cd data` 
- `mkdir timetamps` 
- `mkdir weather`

Using the `mkdir` command created the `data` directory and it's subdirectories `timestamps` and `weather` at the root of the repository.

### **Task 2: Timestamps**

- `cd data/timestamps`
- `date >> now.txt` 

Using `cd data/timestamps` navigated to the `timestamps` directory. `date >> now.txt` appended the cuurent date and time to `now.txt`. Repeated the step 10 time.

- ``more now.txt``

`more now.txt` verified the content.

### **Task 3: Formatting Techniques**


- ``date +"%Y%m%d_%H%M%S" >> formatted.txt``

`date "+%Y%m%d_%H%M%S"` outputted the date in the format ``YYYYmmdd_HHMMSS``.
The ``>>`` operator appended this output to ``formatted.txt``.

### **Task 4: Create Timestamped Files**

- ``touch `date +"%Y%m%d_%H%M%S"`.txt``

`touch` created an empty file name with the current timestamp by embedding the `date` command within backticks.

### **Task 5: Download Today's Weather Data**

- ``cd ../weather``
- ``wget -O weather.json https://prodapi.metweb.ie/observations/athenry/today``

`weget -O weather.json` downloaded the latest weather data from Met Éireann and saved it as `weather.json`

### **Task 6: Timestamp the Data**

- ``wget -O "`date +%Y%m%d_%H%M%S`.json" https://prodapi.metweb.ie/observations/athenry/today``

This command saved the downloaded weather data with a timetamped file in the `data/weather` directory in the format `YYYYmmdd_HHMMSS.json`.

### **Task 7: Write the Script**

- ``#!/bin/bash``
- ``cd data/weather``
- ``wget -O "`date +%Y%m%d_%H%M%S`.json" https://prodapi.metweb.ie/observations/athenry/today``

This script automated the download process and saved weather data with a timestamped filename.

- ``./weather.sh``

Executed the script, saving the weather data as expected. 
___

### **End**